td {
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border: 1px solid #3EB5E8;
    padding: 0px;
    text-align: center;
}

table {
    border-spacing: 0px;
    width: auto;
    margin: auto;
}

button {
  margin: 10px;
}

.menu-label {
  text-align: center;
}

.warning {
  text-align: left;
}